@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<Product>

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_DrinksLayout.cshtml";
}

<div class="row">
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("partialSP", item)
    }

</div>

<div class="col-lg-12">
    <div class="featured__controls">
        <div class="product__pagination">
            <ul>
                @Html.PagedListPager(Model, page=>Url.Action("Search", new {page = page, searching = ViewBag.searching}))
            </ul>
            <a href="#"><i class="fa fa-long-arrow-right"></i></a>
        </div>
    </div>

</div>






